In [1]:
pip install pyspark

/bin/bash: /opt/conda/lib/libtinfo.so.6: no version information available (required by /bin/bash)
Collecting pyspark
  Downloading pyspark-3.3.2.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 4.3 MB/s eta 0:00:0000:0100:01
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 kB 10.7 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.2-py2.py3-none-any.whl size=281824024 sha256=2429fc7f727391d69b3809b5fd2a93d35add9d4d0c4e6221296b2cd7c51125e1
  Stored in directory: /root/.cache/pip/wheels/07/fb/67/b9f2c0242d156eaa136b45ae4fd99d3e7c0ecc2acfd26f47b9
Successfully built pyspark
Installing collected packages: py4j, pyspark
  Attempting uninstall: py4j
    Found existing installation: py4j 0.10.9.7
    Uninstalling py4j-0.10.9.7:
      Successfully uninstalled py4j-0.10.9.7
Successfully installed py4j-0.10.9.5 pyspark-3.3.2
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Note: you may need to restart the kernel to use updated packages.

# What is Parquet File?
**Apache Parquet** file is a columnar storage format available to any project in the Hadoop ecosystem, regardless of the choice of data processing framework, data model, or programming language.

In [2]:
import pyspark
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("parquetFile").getOrCreate()

bash: /opt/conda/lib/libtinfo.so.6: no version information available (required by bash)
bash: /opt/conda/lib/libtinfo.so.6: no version information available (required by bash)
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/02/16 19:24:11 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [5]:
data =[("Hanan ","","Ali","HTML","M",3000),
              ("Doaa ","Amad","","PHP","M",4000),
              ("Nema ","Hassin","abdallrahman","PYTHON","M",4000),
              ("gamal ","yossef","abdallh","C++","F",4000),
              ("morad","eslam","abas","Docker","F",-1)]
columns=["firstname","middlename","lastname","skills","gender","salary"]
df=spark.createDataFrame(data,columns)
df.printSchema()
df.show(truncate=False)

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- skills: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

+---------+----------+------------+------+------+------+
|firstname|middlename|lastname    |skills|gender|salary|
+---------+----------+------------+------+------+------+
|Hanan    |          |Ali         |HTML  |M     |3000  |
|Doaa     |Amad      |            |PHP   |M     |4000  |
|Nema     |Hassin    |abdallrahman|PYTHON|M     |4000  |
|gamal    |yossef    |abdallh     |C++   |F     |4000  |
|morad    |eslam     |abas        |Docker|F     |-1    |
+---------+----------+------------+------+------+------+

### Pyspark Write DataFrame to Parquet file format

In [4]:

df.write.parquet("/kaggle/working/people.parquet")

### Pyspark Read Parquet file into DataFrame

In [6]:

parDF=spark.read.parquet("/kaggle/working/people.parquet")
parDF.printSchema()
parDF.show(truncate=False)

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- skills: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

+---------+----------+------------+------+------+------+
|firstname|middlename|lastname    |skills|gender|salary|
+---------+----------+------------+------+------+------+
|Nema     |Hassin    |abdallrahman|PYTHON|M     |4000  |
|gamal    |yossef    |abdallh     |C++   |F     |4000  |
|morad    |eslam     |abas        |Docker|F     |-1    |
|Hanan    |          |Ali         |HTML  |M     |3000  |
|Doaa     |Amad      |            |PHP   |M     |4000  |
+---------+----------+------------+------+------+------+

In [8]:
parDF1=spark.read.parquet("/kaggle/working/people.parquet/part-00000-2d867555-03dd-420e-9967-437ddc7fbdb6-c000.snappy.parquet")
parDF1.printSchema()
parDF1.show(truncate=False)

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- skills: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

+---------+----------+--------+------+------+------+
|firstname|middlename|lastname|skills|gender|salary|
+---------+----------+--------+------+------+------+
|Hanan    |          |Ali     |HTML  |M     |3000  |
+---------+----------+--------+------+------+------+

### Append or Overwrite an existing Parquet file
Using append save mode, you can append a dataframe to an existing parquet file. Incase to overwrite use overwrite save mode.

In [55]:
df.write.mode('append').parquet("/kaggle/working/people.parquet")
# df.write.mode('overwrite').parquet("/kaggle/working/people.parquet")

In [56]:
parDF2=spark.read.parquet("/kaggle/working/people.parquet")
parDF2.printSchema()
parDF2.show(truncate=False)

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- skills: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

+---------+----------+------------+------+------+------+
|firstname|middlename|lastname    |skills|gender|salary|
+---------+----------+------------+------+------+------+
|Nema     |Hassin    |abdallrahman|PYTHON|M     |4000  |
|Nema     |Hassin    |abdallrahman|PYTHON|M     |4000  |
|Nema     |Hassin    |abdallrahman|PYTHON|M     |4000  |
|gamal    |yossef    |abdallh     |C++   |F     |4000  |
|morad    |eslam     |abas        |Docker|F     |-1    |
|gamal    |yossef    |abdallh     |C++   |F     |4000  |
|morad    |eslam     |abas        |Docker|F     |-1    |
|gamal    |yossef    |abdallh     |C++   |F     |4000  |
|morad    |eslam     |abas        |Docker|F     |-1    |
|Hanan    |          |Ali         |HTML  |M     |3000  |
|Hanan    |          |Ali         |HTML  |M     |3000  |
|Hanan    |          |Ali         |HTML  |M     |3000  |
|Doaa     |Amad      |            |PHP   |M     |4000  |
|Doaa     |Amad      |            |PHP   |M     |4000  |
|Doaa     |Amad      |            |PHP   |M     |4000  |
+---------+----------+------------+------+------+------+

### Executing SQL queries DataFrame
Pyspark Sql provides to create temporary views on parquet files for executing sql queries. These views are available until your program exists.

In [57]:

parDF2.createOrReplaceTempView("ParquetTable")
parkSQL = spark.sql("select * from ParquetTable where salary >= 4000 ")

In [58]:
parkSQL.show()

+---------+----------+------------+------+------+------+
|firstname|middlename|    lastname|skills|gender|salary|
+---------+----------+------------+------+------+------+
|    Nema |    Hassin|abdallrahman|PYTHON|     M|  4000|
|    Nema |    Hassin|abdallrahman|PYTHON|     M|  4000|
|    Nema |    Hassin|abdallrahman|PYTHON|     M|  4000|
|   gamal |    yossef|     abdallh|   C++|     F|  4000|
|   gamal |    yossef|     abdallh|   C++|     F|  4000|
|   gamal |    yossef|     abdallh|   C++|     F|  4000|
|    Doaa |      Amad|            |   PHP|     M|  4000|
|    Doaa |      Amad|            |   PHP|     M|  4000|
|    Doaa |      Amad|            |   PHP|     M|  4000|
+---------+----------+------------+------+------+------+

### Create Parquet partition file
When we execute a particular query on the PERSON table, it scan’s through all the rows and returns the results back. This is similar to the traditional database query execution. In PySpark, we can improve query execution in an optimized way by doing partitions on the data using pyspark partitionBy() method. Following is the example of partitionBy().

When you check the people2.parquet file, it has two partitions “gender” followed by “salary” inside.

In [59]:

df.write.partitionBy("gender","salary").mode("overwrite").parquet("/kaggle/working/people1.parquet")

### Retrieving from a partitioned Parquet file
The example below explains of reading partitioned parquet file into DataFrame with **gender=M**.

In [60]:

parDF3=spark.read.parquet("/kaggle/working/people1.parquet/gender=M")
parDF3.show(truncate=False)

+---------+----------+------------+------+------+
|firstname|middlename|lastname    |skills|salary|
+---------+----------+------------+------+------+
|Nema     |Hassin    |abdallrahman|PYTHON|4000  |
|Hanan    |          |Ali         |HTML  |3000  |
|Doaa     |Amad      |            |PHP   |4000  |
+---------+----------+------------+------+------+

Retrieving from a partitioned Parquet file
The example below explains of reading partitioned parquet file into DataFrame with **gender=F**.

In [62]:
parDF4=spark.read.parquet("/kaggle/working/people1.parquet/gender=F")
parDF4.show(truncate=False)

+---------+----------+--------+------+------+
|firstname|middlename|lastname|skills|salary|
+---------+----------+--------+------+------+
|gamal    |yossef    |abdallh |C++   |4000  |
|morad    |eslam     |abas    |Docker|-1    |
+---------+----------+--------+------+------+